/* Importação de fontes para o design */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scroll-track{
    background: #333;
}

body::webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 20px;
    border: 2px solid #333;
}